[submodule "sourcedata/ds000005"]
	path = sourcedata/ds000005
	url = https://github.com/OpenNeuroDatasets/ds000005.git
	datalad-id = b2c7f086-8704-11e8-9916-0242ac120015
	datalad-url = https://github.com/OpenNeuroDatasets/ds000005.git
